1. Edit your hosts file

File locations:
Windows: C:\Windows\System32\drivers\etc\hosts
Mac/Linux: /etc/hosts


Add a line like this:

127.0.0.1   stoonproduction.local
127.0.0.1   auth.stoonproduction.local
127.0.0.1   admin.stoonproduction.local


This tricks your computer into thinking these domains point to localhost.