@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /**
   * Colors
   */
  --myYellow: #ffc44d;
  --myGreen: #40bfbb;
  --myGreenDarken: #318a87;
  --myRed: #f65893;
  --myBleu: #4b9be2;
  --myOrange: #ffb244;

  --smoky-black: hsl(0, 0%, 7%);
}

/* body {
    background-color: #f5f5f5;
    color: black;
  }
  
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #112C30;
      color: white;
    }
} */

html {
  scroll-behavior: smooth;
}

/**
   * RESET
   */

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: var(--smoky-black);
}

body::-webkit-scrollbar-thumb {
  border: 5px solid var(--smoky-black);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  box-shadow:
    inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
    inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

body::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.15);
}

body::-webkit-scrollbar-button {
  height: 60px;
}

/* //
background 
// */

.hero_area {
  position: relative;
  min-height: 100vh;
  display: flex;
  /* margin-top: -80px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--myGreen);
  /* border-radius: 0 0 350px 0; */
}

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

/*
-- Start Animation 
*/

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*
-- ARROW
 */
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a .arrow {
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  margin-top: 1px;
  margin-left: 10px;
  width: var(--arrow-width);
  background: var(--myYellow);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

a .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--hover-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

a:hover {
  background-color: var(--hover-color);
}

a:hover .arrow {
  background: var(--secondary-color);
}

a:hover .arrow:before {
  right: 0;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
}
